body{

    /* Margen */
    margin: 0;
    /* Margen pa dentro*/
    padding: 0;

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}


/*NAVEGACION*/

header{

    width: 100%;
    height: 60px;

}
header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

nav .nav-right-section a{
    color: rgb(21, 21, 21);
    margin-right: 25px;
}

nav .nav-right-section .menu{
    background-image:url(https://cdn2.iconfinder.com/data/icons/content-design-production-2/66/106-512.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    border-radius: 30px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
}


main{
    
    margin-top: 150px;
    text-align: center;
    
}

main .main-logo{

    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-logo img{
    height: 120px;
    
}

main .main-input{
   
    width: 550px;
    margin: 0 auto;
   
    margin-bottom: 40px;

}

main .main-input-container{
    width: 525px;
    border: 1px solid #d4caca;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;


}

main .main-input input{
    height: 35px;
    border: none;

    outline: none;
    width: 430px;
    
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    height: 15px;
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 3%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
    padding-right: 5%;
}

/*BOTONES*/

main .main-buttons{
    width: 550px;
    margin: 0 auto;
    padding-top: 18px;
    
}

main .main-buttons div{
    display: inline-block;

}

main .main-buttons button{
    border: none;
    height: 30px;
    font-size: 16px;
    color: #3c4043;
    padding: 0px 15px;
    border-radius: 4px;
    margin-right: 10px;
    
}

main .main-input-container:hover{
    box-shadow: 0px 0px 5px #20212447;
}

main .main-buttons button:hover{
    color:#202124;
    box-shadow: 0px 0px 5px #20212447;

}
footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px; 
    position: absolute;
    font-size: 13px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    bottom: 0%;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-content: left;
    
}

footer .footer-right{
    justify-content: right;
}

footer ul a{
    margin: 10px;
    color: #5f6368;
}

footer a:hover{
    margin: 10px;
    text-decoration: underline;
}